//====================================================================================================
.header {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	@media (max-width: $md3+px) {
		min-height: 5px;
	}
	&._scroll {
		.header__wrapper {
			background-color: rgba(255, 255, 255, 0.8);
		}
		.header__body {
			min-height: 50px;
			@media (min-width: $md2+px) {
				min-height: 70px;
			}
		}
	}
	&__wrapper {
		transition: background-color 0.5s ease 0s;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1000;
	}

	&__container {
	}

	&__body {
		transition: min-height 0.5s ease 0s;
		display: flex;
		align-items: center;
		padding: 5px 0px;
		position: relative;
		min-height: 125px;
		@media (max-width: $md2+px) {
			min-height: 80px;
		}
		@media (max-width: $md3+px) {
			min-height: 50px;
		}
	}

	&__main {
		display: flex;
		align-items: center;
		flex: 0 0 494/1240 * 100%;
		@media (max-width: $md2+px) {
			flex: 1 1 auto;
		}
	}

	&__logo {
		font-weight: 700;
		font-size: 24px;
		line-height: 29 / 24 * 100%;
		color: #000000;
		position: relative;
		z-index: 5;
	}

	&__menu {
	}

	&__search {
		@include adaptiv-value("padding-right", 32, 15, 1);
		@media (min-width: $md2+px) {
			flex: 1 1 auto;
		}
	}

	&__actions {
	}
}

.menu {
	flex: 0 1 420px;
	&__body {
		@media (max-width: $md3+px) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			left: -100%;
			background-color: #fcf8f3;
			transition: left 0.3s ease 0s;
			padding: 70px 15px 30px 15px;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 50px;
				top: 0;
				left: -100%;
				transition: left 0.3s ease 0s;
				background-color: #fcf8f3;
				z-index: 2;
			}
			&._active {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	&__list {
		@media (min-width: $md3+px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 5px 0px;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.menu__sub-list {
					transform: translate(0px, 0px);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
				.menu__arrow {
					transform: rotate(-180deg);
				}
				.menu__arrow,
				.menu__link {
					color: $orangeColor;
				}
			}
		}
		@media (min-width: $md3+px) {
			&._hover {
				.menu__sub-list {
					transform: translate(0px, 0px);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
				.menu__arrow {
					transform: rotate(-180deg);
				}
				.menu__arrow,
				.menu__link {
					color: $orangeColor;
				}
			}
		}
		@media (max-width: $md3+px) {
			&:not(:last-child) {
				margin: 0px 0px 15px 0px;
			}
		}
	}

	&__link {
		font-weight: 500;
		line-height: 150%;
		color: $mainColor;
		transition: color 0.3s ease 0s;
		@media (max-width: $md3+px) {
			font-size: 24px;
			font-weight: 600;
		}
	}

	&__arrow {
		margin: 0px 0px 0px 8px;
		transition: all 0.3s ease 0s;
		font-size: 8px;
		background-color: transparent;
		@media (max-width: $md3+px) {
			font-size: 14px;
			&._active {
				transform: rotate(-180deg);
			}
		}
	}

	&__sub-list {
		position: relative;
		background-color: $orangeColor;
		padding: 15px;
		flex: 1 1 100%;
		@media (min-width: $md3+px) {
			opacity: 0;
			transition: all 0.3s ease 0s;
			transform: translate(0px, 10px);
			pointer-events: none;
			visibility: hidden;
			min-width: 200px;
			left: 0;
			top: 100%;
			position: absolute;
			z-index: 5;
		}
		@media (max-width: $md3+px) {
			margin: 0px -15px 0px -15px;
		}
	}

	&__sub-item {
		&:not(:last-child) {
			margin: 0px 0px 5px 0px;
		}
		@media (max-width: $md3+px) {
			&:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
		}
	}

	&__sub-link {
		color: #fff;
		transition: color 0.3s ease 0s;
		line-height: 120%;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
	}
}
.search-form {
	max-width: 473px;
	&._active {
		.search-form__item {
			opacity: 1;
			top: 100%;
			visibility: visible;
		}
		.search-form__icon {
			color: $orangeColor;
		}
	}
	&__icon {
		position: relative;
		z-index: 5;
		font-size: 22px;
		color: #262f56;
		background-color: transparent;
		@media (min-width: $md2+px) {
			display: none;
		}
	}

	&__item {
		background-color: #fff;
		display: flex;
		align-items: center;
		@media (max-width: $md2+px) {
			box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
			position: absolute;
			width: 100%;
			top: -100%;
			left: 0;
			z-index: 5;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
	}

	&__btn {
		flex: 0 0 45px;
		height: 45px;
		font-size: 15px;
		color: #333333;
		background-color: #fff;
	}

	&__input {
		font-size: 14px;
		line-height: 150%;
		width: 100%;
		padding: 0px 20px 0px 0px;
		color: #616161;
	}
}
.actions-header {
	position: relative;
	z-index: 5;
	display: grid;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	align-items: center;
	@include adaptiv-value("gap", 32, 15, 1);
	&__item {
		&_favorites {
			&::before {
				color: #262f56;
				transition: color 0.3s ease 0s;
			}
			font-size: 24px;
			@media (any-hover: hover) {
				&:hover {
					&::before {
						color: $orangeColor;
					}
				}
			}
		}

		&_user {
			overflow: hidden;
			border-radius: 50%;
			@include adaptiv-value("width", 40, 30, 1);
			@include adaptiv-value("height", 40, 30, 1);
			img {
				transition: all 0.3s ease 0s;
			}
			@media (any-hover: hover) {
				&:hover {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
.cart-header {
	&__icon {
		&::before {
			color: #262f56;
			transition: color 0.3s ease 0s;
		}
		font-size: 24px;
		position: relative;
		display: block;
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $orangeColor;
				}
			}
		}
		span {
			position: absolute;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: -10px;
			right: -10px;
			border-radius: 50%;
			background-color: $orangeColor;
			font-size: 12px;
			color: #fff;
		}
	}

	&__body {
		background: #f4f5f7;
		border: 1px solid #e0e0e0;
		position: absolute;
		top: 60px;
		right: 0;
		padding: 15px;
		width: 300px;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		transform: translate(0px, 20px);
		transition: all 0.3s ease 0s;
		._active & {
			opacity: 1;
			visibility: visible;
			transform: translate(0px, 0px);
		}
		@media (max-width: $md2+px) {
			top: 50px;
		}
		@media (max-width: $md3+px) {
			position: fixed;
			top: 50px;
			left: 0;
			width: 100%;
		}
	}

	&__list {
	}
}
.cart-list {
	overflow: auto;
	max-height: 200px;
	&__image {
		flex: 0 0 100px;
		height: 100px;
	}

	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px 0px 0px 10px;
	}

	&__title {
		color: inherit;
		font-weight: 600;
		transition: color 0.3s ease 0s;
		margin: 0px 0px 5px 0px;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}

	&__quantity {
		font-size: 14px;
		margin: 0px 0px 5px 0px;
	}

	&__delete {
		color: red;
		font-size: 14px;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;
		&:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		@include adaptiv-value("margin-left", 32, 15, 1);
		position: relative;
		display: block;
		flex: 0 0 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #262f56;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

//====================================================================================================
