.btn {
    display: inline-flex;
    padding: 0px rem(15);
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s ease 0s;
    min-height: rem(48);
    border: rem(1) solid $orangeColor;
    &_white {
        color: $orangeColor;
        background-color: $white;
        border: rem(1) solid $white;
        @media (any-hover: hover) {
            &:hover {
                background-color: $orangeColor;
                border: rem(1) solid $orangeColor;
                color: $white;
            }
        }
    }
}
