%ic {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-support:before {
    content: "\e909";
}
._icon-shipping:before {
    content: "\e90a";
}
._icon-guarantee:before {
    content: "\e90b";
}
._icon-kubok:before {
    content: "\e90c";
}
._icon-arrow-right:before {
    content: "\e90d";
}
._icon-arrow-down:before {
    content: "\e900";
}
._icon-arrow-link:before {
    content: "\e901";
    color: #fff;
}
._icon-cart:before {
    content: "\e902";
    color: #262f56;
}
._icon-favorite:before {
    content: "\e903";
    color: #262f56;
}
._icon-location:before {
    content: "\e904";
}
._icon-phone:before {
    content: "\e905";
    color: #898989;
}
._icon-search:before {
    content: "\e906";
}
._icon-send:before {
    content: "\e907";
    color: #fff;
}
._icon-share:before {
    content: "\e908";
    color: #fff;
}
