//<ОСНОВНОЙ БЛОК>====================================================================================================
._footer-title {
    font-weight: 700;
    @include adaptiv-font(24, 20, 1);
    line-height: 29 / 24 * 100%;
    color: #000000;
}

._flyImage-ibg {
    opacity: 1;
    position: fixed;
    z-index: 100;
    transition: all 1s ease 0s;
}

._title {
    @include adaptiv-font(40, 24, 1);
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.slider-arrows {
    display: grid;
    grid-template-columns: repeat(2, 48px);
    column-gap: 8px;
}
.slider-arrow {
    pointer-events: auto;
    border-radius: 50%;
    height: 48px;
    background: hsla(23, 72%, 68%, 0.3);
    color: $orangeColor;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            color: #fff;
            background: hsla(23, 72%, 68%, 1);
        }
    }
    &_prev {
        &::before {
            transform: rotate(90deg);
        }
    }

    &_next {
        &::before {
            transform: rotate(-90deg);
        }
    }
    &_white {
        background-color: #fff;
        color: $orangeColor;
        box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    }
}
.swiper-pagination-bullets {
    display: flex;
    flex-wrap: wrap;
}
.swiper-pagination-bullet {
    cursor: pointer;
    flex: 0 0 27px;
    height: 27px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px;
    &:not(:last-child) {
        margin-right: 12px;
    }
    &::after {
        content: "";
        width: 11px;
        height: 11px;
        background-color: #d8d8d8;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;
    }
    &::before {
        content: "";
        position: absolute;
        width: 27px;
        height: 27px;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: 1px solid $orangeColor;
        transform: scale(0);
    }
}
.swiper-pagination-bullet-active {
    &::after {
        background-color: $orangeColor;
    }
    &::before {
        transform: scale(1);
    }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
