.footer {
    // ANIMATION ==================================================================================================================================================
    @include inViewBasic(0, 0, 0.8, 0);
    &__container {
    }

    &__body {
        border-top: rem(1) solid $light_04;
        display: grid;
        grid-template-columns: rem(250) 1fr rem(290);
        @include adaptiveValue("padding-top", 80, 30);
        @include adaptiveValue("padding-bottom", 60, 30);
        @include adaptiveValue("column-gap", 80, 0);
        @media (max-width: $pc) {
            grid-template-rows: auto auto;
            grid-template-columns: 1fr rem(290);
        }
        @media (max-width: $tablet) {
            display: block;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: $pc) {
            grid-column: span 2;
            @include adaptiveValue("margin-bottom", 40, 30);
        }
    }

    &__logo {
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(29, 24);
        color: $black;
        @include adaptiveValue("margin-bottom", 16, 10);
    }

    &__text {
        color: $grayColor;
        line-height: 150%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 16, 10);
        }
    }

    &__contacts {
    }

    &__menu {
        @media (max-width: $tablet) {
            @include adaptiveValue("margin-bottom", 40, 30);
        }
    }

    &__subscribe {
    }
}
.contacts-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
        display: inline-flex;
        align-items: center;
        line-height: 150%;
        transition: color 0.3s ease 0s;
        color: $grayColor;
        &::before {
            margin-right: rem(8);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 16, 10);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }
}
.menu-footer {
    @media (min-width: $mobile) {
        display: flex;
    }
    &__column {
        @media (min-width: $mobile) {
            flex: 0 1 33.333%;
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-bottom", 30, 15);
        }
    }

    &__title {
        cursor: default;
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 16, 10);
        }
        ._spoller-init & {
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            transition: color 0.3s ease 0s;
            @extend ._icon-arrow-down;
            @extend %tap;
            &::before {
                @extend %ic;
                transition: transform 0.3s ease 0s;
                font-size: rem(14);
            }
        }
        &._spoller-active {
            color: $orangeColor;
            &::before {
                transform: rotate(-180deg);
            }
        }
    }

    &__list {
        li {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
        @media (max-width: $mobile) {
            padding-top: rem(15);
        }
    }

    &__link {
        color: $darkGrayColor;
        transition: color 0.3s ease 0s;
        line-height: 120%;
        font-weight: 500;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }
}
.subscribe {
    &__title {
        @include adaptiveValue("margin-bottom", 16, 10);
    }

    &__form {
        display: flex;
        position: relative;
        .form__error {
            position: absolute;
            top: 100%;
            left: 0;
            color: red;
            font-size: rem(14);
            margin-top: rem(5);
        }
    }

    &__button {
        flex: 0 0 rem(45);
        height: rem(45);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(18);
        background-color: $orangeColor;
        margin-left: rem(4);
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $darkGrayColor;
            }
        }
    }

    &__input {
        width: 100%;
        padding: 0px rem(12);
        background-color: $light_03;
        line-height: 150%;
        color: $grayColor;
    }
}
