.header {
    transition: background-color 0.8s ease 0s, top 0.8s ease 0s;
    position: fixed;
    width: 100%;
    top: rem(-125);
    left: 0;
    z-index: 1000;
    @media (max-width: $mobile) {
        min-height: rem(5);
    }
    &._header-scroll {
        background-color: rgba(255, 255, 255, 0.8);
        .header__container {
            min-height: rem(50);
            @media (min-width: $tablet) {
                min-height: rem(70);
            }
        }
    }
    .loaded & {
        top: 0;
    }

    &__container {
        transition: min-height 0.8s ease 0s;
        display: flex;
        align-items: center;
        position: relative;
        min-height: rem(125);
        @media (max-width: $tablet) {
            min-height: rem(80);
        }
        @media (max-width: $mobile) {
            min-height: rem(50);
        }
    }

    &__main {
        display: flex;
        align-items: center;
        flex: 0 0 percent(494, 1240);
        @media (max-width: $tablet) {
            flex: 1 1 auto;
        }
    }

    &__logo {
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(29, 24);
        transition: color 0.3s ease 0s;
        color: $black;
        position: relative;
        z-index: 5;
        @extend %tap;
    }

    &__menu {
    }

    &__search {
        @include adaptiveValue("padding-right", 32, 15);
        @media (min-width: $tablet) {
            flex: 1 1 auto;
        }
    }

    &__actions {
    }
}

.menu {
    flex: 0 1 rem(420);
    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: auto;
            top: 0;
            left: -100%;
            background-color: $light_01;
            @include scrollbars(rem(5), $blue, $light_01);
            transition: left 0.3s ease 0s;
            padding: rem(70) rem(15) rem(30) rem(15);
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: rem(50);
                top: 0;
                left: -100%;
                transition: left 0.3s ease 0s;
                background-color: $light_01;
                z-index: 2;
            }
            .menu-open & {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }
    }

    &__list {
        @media (min-width: $mobile) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: rem(5) 0px;
        position: relative;
        @media (any-hover: hover) {
            &:hover {
                .menu__sub-list {
                    transform: translate(0px, 0px);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
                .menu__arrow {
                    @media (min-width: $mobile) {
                        transform: rotate(-180deg);
                    }
                }
                .menu__arrow,
                .menu__link {
                    color: $orangeColor;
                }
            }
        }
        @media (min-width: $mobile) {
            &._hover {
                .menu__sub-list {
                    transform: translate(0px, 0px);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
                .menu__arrow {
                    transform: rotate(-180deg);
                }
                .menu__arrow,
                .menu__link {
                    color: $orangeColor;
                }
            }
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
    }

    &__link {
        font-weight: 500;
        line-height: 150%;
        color: $mainColor;
        transition: color 0.3s ease 0s;
        @media (max-width: $mobile) {
            font-size: rem(24);
            font-weight: 600;
        }
    }

    &__arrow {
        margin-left: rem(8);
        transition: transform 0.3s ease 0s, color 0.3s ease 0s;
        font-size: rem(8);
        background-color: transparent;
        @extend %tap;
        @media (max-width: $mobile) {
            font-size: rem(14);
            &._spoller-active {
                transform: rotate(-180deg);
            }
        }
    }

    &__sub-list {
        position: relative;
        background-color: $orangeColor;
        padding: rem(15);
        flex: 1 1 100%;
        @media (min-width: $mobile) {
            transform: translate(0px, rem(10));
            pointer-events: none;
            visibility: hidden;
            opacity: 0;
            min-width: rem(200);
            left: 0;
            top: 100%;
            position: absolute;
            z-index: 5;
            transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, transform 0.3s ease 0s, pointer-events 0.3s ease 0s;
        }
        @media (max-width: $mobile) {
            margin: 0px rem(-15);
        }
    }

    &__sub-item {
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__sub-link {
        color: $white;
        transition: color 0.3s ease 0s;
        line-height: 120%;
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(18);
        }
    }
}

.search-form {
    max-width: rem(473);

    &._active {
        .search-form__item {
            opacity: 1;
            top: 100%;
            visibility: visible;
        }
        .search-form__icon {
            color: $orangeColor;
        }
    }
    &__icon {
        position: relative;
        z-index: 5;
        font-size: rem(22);
        color: $blue;
        background-color: transparent;
        transition: color 0.3s ease 0s;
        @extend %tap;
        @media (min-width: $tablet) {
            display: none;
        }
    }

    &__item {
        background-color: $white;
        display: flex;
        align-items: center;
        transition: box-shadow 0.3s ease 0s;
        @media (max-width: $tablet) {
            box-shadow: 0 rem(5) rem(5) rgba(212, 209, 205, 0.3);
            position: absolute;
            width: 100%;
            top: -100%;
            left: 0;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            transition: box-shadow 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s, top 0.3s ease 0s;
        }
        &._form-focus {
            box-shadow: 0 rem(5) rem(5) rgb(232, 159, 113, 0.5);
        }
    }

    &__btn {
        flex: 0 0 rem(45);
        height: rem(45);
        font-size: rem(15);
        color: $mainColor;
        background-color: $white;
        @extend %tap;
    }

    &__input {
        font-size: rem(14);
        line-height: 150%;
        width: 100%;
        margin-right: rem(20);
        color: $darkGrayColor;
        padding: 0px rem(15);
        outline: none;
    }
}

.actions-header {
    position: relative;
    z-index: 5;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    @include adaptiveValue("gap", 32, 15);
    &__item {
        &_favorites {
            font-size: rem(24);
            &::before {
                color: $blue;
                transition: color 0.3s ease 0s;
            }
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-tap-highlight-color: transparent;
            &:active {
                &::before {
                    color: $orangeColor;
                }
            }
            @media (any-hover: hover) {
                &:hover {
                    &::before {
                        color: $orangeColor;
                    }
                }
            }
        }

        &-ibg_user {
            overflow: hidden;
            border-radius: 50%;
            @include adaptiveValue("width", 40, 30);
            @include adaptiveValue("height", 40, 30);
            img {
                transition: transform 0.3s ease 0s;
            }
            @media (any-hover: hover) {
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.cart-header {
    &__icon {
        font-size: rem(24);
        position: relative;
        display: block;
        &::before {
            color: $blue;
            transition: color 0.3s ease 0s;
        }
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        &:active {
            &::before {
                color: $orangeColor;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    color: $orangeColor;
                }
            }
        }
        span {
            position: absolute;
            width: rem(20);
            height: rem(20);
            display: flex;
            justify-content: center;
            align-items: center;
            top: rem(-10);
            right: rem(-10);
            border-radius: 50%;
            background-color: $orangeColor;
            font-size: rem(12);
            color: $white;
        }
    }

    &__body {
        background-color: $light_03;
        border: rem(1) solid $light_02;
        position: absolute;
        top: rem(60);
        right: 0;
        padding: rem(15);
        width: rem(300);
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transform: translate(0px, rem(20));
        transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, transform 0.3s ease 0s;
        ._active & {
            opacity: 1;
            visibility: visible;
            transform: translate(0px, 0px);
        }
        @media (max-width: $tablet) {
            top: rem(50);
        }
        @media (max-width: $mobile) {
            position: fixed;
            top: rem(50);
            left: 0;
            width: 100%;
        }
    }

    &__list {
        @include scrollbars(rem(5), $orangeColor, $light_01);
    }
}

.cart-list {
    overflow: auto;
    max-height: rem(200);
    &__image-ibg {
        flex: 0 0 rem(80);
        height: rem(80);
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: rem(10);
    }

    &__title {
        color: inherit;
        font-weight: 600;
        transition: color 0.3s ease 0s;
        margin-bottom: rem(5);
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    &__quantity {
        font-size: rem(14);
        margin-bottom: rem(5);
    }

    &__delete {
        color: red;
        font-size: rem(14);
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
}

//====================================================================================================

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        @include adaptiveValue("margin-left", 32, 15);
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 5;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        &:active {
            span,
            &::before,
            &::after {
                background-color: $orangeColor;
            }
        }
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $blue;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}
