.main-slider {
    background-color: $light_01;
    // ANIMATION ==================================================================================================================================================
    @include inViewBasic(0, 0, 0.8, 0);
    &__container {
        position: relative;
        @media (min-width: $tablet) {
            &::before {
                content: "";
                background: $light_05;
                position: absolute;
                top: 0;
                width: 100vw;
                right: rem(376);
                height: 100%;
            }
        }
    }

    &__body {
        padding-top: rem(140);
        position: relative;
        z-index: 2;
        @media (max-width: $tablet) {
            padding-top: rem(80);
        }
        @media (max-width: $mobile) {
            padding-top: rem(60);
        }
        @media (min-width: $tablet) {
            display: flex;
        }
    }

    &__content {
        align-self: flex-start;
        flex: 0 0 percent(494, 1240);
        @include adaptiveValue("margin-bottom", 80, 15);
        @media (max-width: $tablet) {
            margin: 0px rem(-15);
        }
    }

    &__slider {
        flex: 1 1 auto;
        min-width: 0;
        align-self: flex-end;
        @media (min-width: $tablet) {
            padding-left: rem(32);
        }
    }
}
.content-main {
    position: relative;
    z-index: 5;
    padding-right: rem(15);
    padding-left: rem(15);
    @include adaptiveValue("padding-top", 60, 15);
    @include adaptiveValue("padding-bottom", 60, 15);
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(rem(31));
    @media (min-width: $tablet) {
        @include adaptiveValue("padding", 60, 0);
        background: rgba(255, 255, 255, 0.9);
        @supports ((-webkit-backdrop-filter: blur(rem(31))) or (backdrop-filter: blur(rem(31)))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(rem(31));
        }
    }
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 56, 24);
        line-height: 120%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 16, 10);
        }
    }

    &__text {
        font-weight: 500;
        @include adaptiveValue("font-size", 20, 16);
        line-height: 150%;
        color: $grayColor;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }

    &__button {
        font-weight: 600;
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("min-height", 75, 45);
        background-color: $orangeColor;
        color: $white;
        width: 100%;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
                background-color: $white;
            }
        }
    }
}
.slider-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: $tablet) {
        align-items: stretch;
        flex-direction: column-reverse;
    }
    &__controls {
        align-self: stretch;
        @include adaptiveValue("margin-bottom", 20, 10, 1240, 991.98, 1);
        @media (max-width: $tablet) {
            margin-top: rem(10);
        }
    }

    &__swiper {
        overflow: visible !important;
        @media (min-width: $tablet) {
            @include adaptiveValue("width", 934, 290);
        }
        @media (max-width: $tablet) {
            margin: 0px rem(-15);
        }
    }

    &__slide {
        position: relative;
    }

    &__image-ibg {
        padding-bottom: 59%;
    }

    &__content {
        min-width: rem(295);
        max-height: rem(300);
        overflow: auto;
        color: inherit;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("padding", 24, 15);
        background: rgba(255, 255, 255, 0.9);
        @supports ((-webkit-backdrop-filter: blur(rem(31))) or (backdrop-filter: blur(rem(31)))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(rem(31));
        }
        @media (min-width: $mobile) {
            position: absolute;
            min-width: rem(350);
            @include adaptiveValue("right", 40, 0);
            @include adaptiveValue("bottom", 40, 0);
        }
    }

    &__title {
        @include adaptiveValue("font-size", 28, 22);
        font-weight: 600;
        line-height: 120%;
        &:not(:last-child) {
            margin-bottom: rem(4);
        }
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    &__text {
        line-height: 150%;
        color: $grayColor;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }

    &__price {
        display: flex;
        flex-direction: row-reverse;
        line-height: 150%;
        align-items: center;
        font-weight: 600;
        justify-content: space-between;
        column-gap: rem(10);
        @include adaptiveValue("font-size", 20, 16);
        &::before {
            color: $mainColor;
            font-size: rem(12);
        }
    }
}
.controls-slider-main {
    display: flex;
    align-items: center;
    &__dotts {
        flex: 1 1 auto;
        @media (min-width: $tablet) {
            padding-right: rem(20);
        }
        @media (max-width: $tablet) {
            justify-content: center;
        }
    }

    &__arrows {
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

//========================================================================================================================================================

.advantages {
    @include adaptiveValue("padding-top", 88, 30);
    @include adaptiveValue("padding-bottom", 88, 30);
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-grid;
        padding: rem(15) 0px;
        grid-template: auto auto / rem(85) 1fr;
        @media (max-width: $tablet) {
            min-width: rem(280);
        }
        @media (max-width: $mobile) {
            grid-template: auto auto / auto 1fr;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0);
    }

    &__icon {
        align-items: center;
        align-self: center;
        grid-row: span 2;
        @media (max-width: $mobile) {
            padding-right: rem(15);
        }
    }

    &__title {
        font-weight: 600;
        font-size: rem(18);
        line-height: 150%;
        margin-bottom: rem(2);
    }

    &__text {
        font-weight: 500;
        line-height: 150%;
        color: $grayColor;
    }
}

//========================================================================================================================================================

.products {
    @include adaptiveValue("padding-bottom", 44, 30);
    &__container {
    }

    &__title {
        @include adaptiveValue("margin-bottom", 30, 15);
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0);
    }

    &__items {
        display: grid;
        gap: rem(32);
        grid-template-columns: repeat(auto-fit, minmax(rem(285), 1fr));
    }

    &__item {
    }

    &__footer {
        padding-top: rem(32);
        text-align: center;
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0);
    }

    &__more {
        border: rem(1) solid $orangeColor;
        min-width: rem(245);
        &._hold {
            opacity: 0.2;
            cursor: default;
        }
    }
}
.item-product {
    background: $light_03;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (any-hover: hover) {
        &:hover {
            .item-product__actions {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    // ANIMATION ==================================================================================================================================================
    @include inViewBasic(0, 50%, 0.8, 0);
    &__labels {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("top", 24, 10);
        @include adaptiveValue("right", 24, 10);
    }

    &__label {
        flex: 0 0 rem(48);
        width: rem(48);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
        &_sale {
            background-color: #e97171;
        }
        &_new {
            background-color: #2ec1ac;
        }
    }

    &__image-ibg {
        padding-bottom: percent(301, 285);
    }

    &__body {
        flex: 1 1 auto;
        padding: rem(16) rem(16) rem(30) rem(16);
        display: flex;
        flex-direction: column;
    }

    &__content {
        flex: 1 1 auto;
    }

    &__title {
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 600;
        line-height: 120%;
        @include adaptiveValue("margin-bottom", 8, 5);
    }

    &__text {
        color: $grayColor;
        line-height: 150%;
        @include adaptiveValue("margin-bottom", 8, 5);
    }

    &__prices {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 150%;
    }

    &__price {
        @include adaptiveValue("font-size", 20, 16);
        font-weight: 600;
        &_old {
            @include adaptiveValue("font-size", 16, 14);
            font-weight: normal;
            margin-left: rem(16);
            color: #b0b0b0;
            text-decoration: line-through;
        }
    }

    &__actions {
        @media (any-hover: none) {
            padding-top: rem(15);
        }
        @media (any-hover: hover) {
            opacity: 0;
            transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            background: hsla(0, 0%, 23%, 0.72);
            z-index: 3;
        }
    }
}
.actions-product {
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__button {
        flex: 1 1 100%;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
        &._hold {
            opacity: 0.2;
            cursor: default;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: inherit;
        font-weight: 600;
        transition: color 0.3s ease 0s;
        &::before {
            margin-right: rem(10);
            font-size: rem(16);
            color: inherit;
        }
        @media (any-hover: hover) {
            color: $white;
            &:hover {
                color: $orangeColor;
            }
        }
    }
}

//========================================================================================================================================================

.rooms {
    background-color: $light_01;
    @include adaptiveValue("padding-top", 44, 30);
    @include adaptiveValue("padding-bottom", 44, 30);
    &__container {
        @media (min-width: $tablet) {
            display: flex;
        }
    }

    &__body {
        flex: 0 0 percent(465, 1240);
        position: relative;
        z-index: 5;
        align-self: center;
        @media (min-width: $tablet) {
            @include adaptiveValue("padding-right", 80, 30);
        }
        @media (max-width: $tablet) {
            margin-bottom: rem(30);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0);
    }

    &__title {
        text-align: left;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0, true);
    }

    &__text {
        line-height: 150%;
        font-weight: 500;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 15);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.3, true);
    }

    &__button {
        background: $orangeColor;
        color: $white;
        min-width: rem(180);
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                color: $orangeColor;
            }
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(-50%, 0, 0.8, 0.6, true);
    }

    &__slider {
        flex: 1 1 auto;
        min-width: 0;
        align-self: flex-start;
        @media (max-width: $mobileSmall) {
            margin: 0px rem(-15);
        }
    }
}

.slider-rooms {
    position: relative;
    &__swiper {
        overflow: visible !important;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 100vw;
            left: 0;
            z-index: 2;
            background-color: $light_01;
            transform: translate(-100%, 0px);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(50%, 0, 0.8, 0.5, true);
    }

    &__slide {
        width: rem(372);
        position: relative;
        overflow: hidden;
        @include adaptiveValue("min-height", 585, 400);
        &.swiper-slide-active {
            .slider-rooms__image-ibg {
                height: 100%;
            }
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__image-ibg {
        transition: height 0.8s ease 0s;
        height: 100%;
        @media (min-width: $mobile) {
            height: 83%;
        }
    }

    &__content {
        position: absolute;
        color: inherit;
        max-width: rem(240);
        @include adaptiveValue("left", 24, 15);
        @include adaptiveValue("bottom", 24, 15);
        @include adaptiveValue("padding", 32, 15);
        background-color: rgba(255, 255, 255, 0.9);
        @supports ((-webkit-backdrop-filter: blur(rem(31))) or (backdrop-filter: blur(rem(31)))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(rem(31));
        }
        &::before {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(100%, 0px);
            width: rem(48);
            height: rem(48);
            background-color: $orangeColor;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
        }
    }

    &__label {
    }

    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 28, 24);
    }

    &__arrows {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        width: calc(100% - rem(48));
        left: rem(24);
        z-index: 5;
        justify-content: space-between;
        @media (min-width: $pc) {
            width: calc(100% + rem(48));
            left: rem(-24);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.8, true);
    }

    &__dotts {
        @media (min-width: $mobile) {
            position: absolute;
            bottom: rem(30);
            width: 100%;
            left: rem(396);
        }
        @media (max-width: $mobile) {
            justify-content: center;
            padding-top: rem(15);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.8, true);
    }
}

//========================================================================================================================================================

.tips {
    @include adaptiveValue("padding-top", 44, 30);
    @include adaptiveValue("padding-bottom", 44, 30);
    &__container {
    }

    &__title {
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0);
    }

    &__slider {
    }
}

.slider-tips {
    position: relative;
    &__swiper {
        @include adaptiveValue("margin-right", -32, -15);
        @include adaptiveValue("margin-left", -32, -15);
        @include adaptiveValue("padding", 32, 15);
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0, true);
    }

    &__slide {
        display: flex;
        flex-direction: column;
        transition: box-shadow 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 0 rem(32) rgba(97, 97, 97, 0.2);
            }
        }
    }

    &__image-ibg {
        padding-bottom: percent(251, 391);
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: rem(15);
        flex: 1 1 auto;
        align-items: flex-start;
    }

    &__title {
        flex: 1 1 auto;
        color: inherit;
        font-weight: 600;
        line-height: 120%;
        @include adaptiveValue("font-size", 24, 18);
        transition: color 0.3s ease 0s;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    &__text {
        color: $grayColor;
        font-size: rem(14);
        line-height: 150%;
    }

    &__dotts {
        @include adaptiveValue("padding-top", 8, 0);
        justify-content: center;
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0.5, true);
    }

    &__arrows {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        width: calc(100% - rem(48));
        left: rem(24);
        z-index: 5;
        justify-content: space-between;
        @media (min-width: $pc) {
            width: calc(100% + rem(48));
            left: rem(-24);
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0.5, true);
    }
}
//========================================================================================================================================================

.furniture {
    @include adaptiveValue("padding-bottom", 85, 40);
    &__container {
    }

    &__label {
        text-align: center;
        color: $darkGrayColor;
        line-height: 150%;
        @include adaptiveValue("font-size", 20, 16);
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0, true);
    }

    &__title {
        @include adaptiveValue("margin-bottom", 32, 15);
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 50%, 0.8, 0.5, true);
    }

    &__body {
        position: relative;
        @media (any-hover: none) {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 1, true);
    }

    &__items {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        align-items: center;
        gap: rem(16);
        @media (any-hover: hover) {
            justify-content: center;
        }
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0px rem(-8);
        &:first-child {
            justify-content: flex-end;
        }
    }

    &__row {
        display: inline-grid;
        padding: 0px rem(8);
        gap: rem(16);
        grid-template-columns: auto;
        grid-auto-flow: column;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
}
.row-furniture {
    &_left-top {
        justify-content: end;
        align-items: end;
    }

    &_left-bottom {
        justify-content: end;
        align-items: start;
    }

    &_center {
        display: block;
    }

    &_right-top {
        align-items: end;
    }

    &_right-bottom {
        align-items: start;
    }

    &__item {
        @media (any-hover: hover) {
            img {
                transition: filter 0.3s ease 0s;
                filter: grayscale(1);
            }
            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}
