.main-slider {
    background: #fcf8f3;
    &__container {
        position: relative;
        @media (min-width: $tablet) {
            &::before {
                content: "";
                background: #f9f1e7;
                position: absolute;
                top: 0;
                width: 100vw;
                right: 376px;
                height: 100%;
            }
        }
    }

    &__body {
        padding: 140px 0px 0px 0px;
        position: relative;
        z-index: 2;
        @media (max-width: $tablet) {
            padding: 80px 0px 0px 0px;
        }
        @media (max-width: $mobile) {
            padding: 60px 0px 0px 0px;
        }
        @media (min-width: $tablet) {
            display: flex;
        }
    }

    &__content {
        align-self: flex-start;
        flex: 0 0 percent(494, 1240);
        @include adaptiveValue("margin-bottom", 80, 15);
        @media (max-width: $tablet) {
            margin: 0px -15px;
        }
    }

    &__slider {
        flex: 1 1 auto;
        min-width: 0;
        align-self: flex-end;
        @media (min-width: $tablet) {
            padding: 0px 0px 0px 32px;
        }
    }
}
.content-main {
    position: relative;
    z-index: 5;
    padding-right: 15px;
    padding-left: 15px;
    @include adaptiveValue("padding-top", 60, 15);
    @include adaptiveValue("padding-bottom", 60, 15);
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    @media (min-width: $tablet) {
        @include adaptiveValue("padding", 60, 0);
        background: rgba(255, 255, 255, 0.9);
        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(31px);
        }
    }
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 56, 24);
        line-height: 120%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 16, 10);
        }
    }

    &__text {
        font-weight: 500;
        @include adaptiveValue("font-size", 20, 16);
        line-height: 150%;
        color: $grayColor;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }

    &__button {
        font-weight: 600;
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("min-height", 75, 45);
        background-color: $orangeColor;
        color: #fff;
        width: 100%;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
                background-color: #fff;
            }
        }
    }
}
.slider-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $tablet) {
        align-items: stretch;
        flex-direction: column-reverse;
    }
    &__controls {
        align-self: stretch;
        @include adaptiveValue("margin-bottom", 20, 15);
        @media (max-width: $tablet) {
            margin: 10px 0px;
        }
    }

    &__body {
        overflow: visible;
        @media (min-width: $tablet) {
            @include adaptiveValue("width", 934, 290);
        }
        @media (max-width: $tablet) {
            margin: 0px -15px;
        }
    }

    &__slide {
        position: relative;
    }

    &__image {
        padding: 0px 0px 59% 0px;
    }

    &__content {
        min-width: 295px;
        max-height: 300px;
        overflow: auto;
        color: inherit;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("padding", 24, 15);
        background: rgba(255, 255, 255, 0.9);
        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(31px);
        }
        @media (min-width: $mobile) {
            position: absolute;
            min-width: 350px;
            @include adaptiveValue("right", 40, 0);
            @include adaptiveValue("bottom", 40, 0);
        }
    }

    &__title {
        @include adaptiveValue("font-size", 28, 22);
        font-weight: 600;
        line-height: 120%;
        &:not(:last-child) {
            margin: 0px 0px 4px 0px;
        }
    }

    &__text {
        line-height: 150%;
        color: $grayColor;
        &:not(:last-child) {
            margin: 0px 0px 8px 0px;
        }
    }

    &__price {
        display: flex;
        flex-direction: row-reverse;
        line-height: 150%;
        align-items: center;
        font-weight: 600;
        justify-content: space-between;
        @include adaptiveValue("font-size", 20, 16);
        &::before {
            margin: 0px 0px 0px 10px;
            font-size: 12px;
            color: $mainColor;
        }
    }
}
.controls-slider-main {
    display: flex;
    align-items: center;
    &__dotts {
        flex: 1 1 auto;
        @media (min-width: $tablet) {
            padding: 0px 20px 0px 0px;
        }
        @media (max-width: $tablet) {
            justify-content: center;
        }
    }

    &__arrows {
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.advantages {
    @include adaptiveValue("padding-top", 88, 30);
    @include adaptiveValue("padding-bottom", 88, 30);
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-grid;
        padding: 15px 0px;
        grid-template: auto auto / 85px 1fr;
        @media (max-width: $tablet) {
            min-width: 280px;
        }
        @media (max-width: $mobile) {
            grid-template: auto auto / auto 1fr;
        }
    }

    &__icon {
        align-items: center;
        align-self: center;
        grid-row: span 2;
        @media (max-width: $mobile) {
            padding: 0px 15px 0px 0px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        margin: 0px 0px 2px 0px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $grayColor;
    }
}

//========================================================================================================================================================

.products {
    @include adaptiveValue("padding-bottom", 44, 30);
    &__container {
    }

    &__title {
        @include adaptiveValue("margin-bottom", 30, 15);
    }

    &__items {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    }

    &__item {
    }

    &__footer {
        padding: 32px 0px 0px 0px;
        text-align: center;
    }

    &__more {
        border: 1px solid $orangeColor;
        min-width: 245px;
        &._hold {
            opacity: 0.2;
            cursor: default;
        }
    }
}
.item-product {
    background: #f4f5f7;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (any-hover: hover) {
        &:hover {
            .item-product__actions {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__labels {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("top", 24, 10);
        @include adaptiveValue("right", 24, 10);
    }

    &__label {
        flex: 0 0 48px;
        width: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 500;
        &:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }
        &_sale {
            background: #e97171;
        }
        &_new {
            background: #2ec1ac;
        }
    }

    &__image {
        padding-bottom: percent(301, 285);
    }

    &__body {
        flex: 1 1 auto;
        padding: 16px 16px 30px 16px;
        display: flex;
        flex-direction: column;
    }

    &__content {
        flex: 1 1 auto;
    }

    &__title {
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 600;
        line-height: 120%;
        @include adaptiveValue("margin-bottom", 8, 5);
    }

    &__text {
        color: $grayColor;
        line-height: 150%;
        @include adaptiveValue("margin-bottom", 8, 5);
    }

    &__prices {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 150%;
    }

    &__price {
        @include adaptiveValue("font-size", 20, 16);
        font-weight: 600;
        &_old {
            @include adaptiveValue("font-size", 16, 14);
            font-weight: normal;
            margin: 0px 0px 0px 16px;
            color: #b0b0b0;
            text-decoration: line-through;
        }
    }

    &__actions {
        @media (any-hover: none) {
            padding: 15px 0px 0px 0px;
        }
        @media (any-hover: hover) {
            opacity: 0;
            transition: all 0.3s ease 0s;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            background: hsla(0, 0%, 23%, 0.72);
            z-index: 3;
        }
    }
}
.actions-product {
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__button {
        flex: 1 1 100%;
        &:not(:last-child) {
            margin: 0px 0px 24px 0px;
        }
        &._hold {
            opacity: 0.2;
            cursor: default;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: inherit;
        font-weight: 600;
        transition: color 0.3s ease 0s;
        &::before {
            margin: 0px 10px 0px 0px;
            font-size: 16px;
            color: inherit;
        }
        @media (any-hover: hover) {
            color: #fff;
            &:hover {
                color: $orangeColor;
            }
        }
    }
}

//========================================================================================================================================================

.rooms {
    background-color: #fcf8f3;
    @include adaptiveValue("padding-top", 44, 30);
    @include adaptiveValue("padding-bottom", 44, 30);
    &__container {
        @media (min-width: $tablet) {
            display: flex;
        }
    }

    &__body {
        flex: 0 0 percent(465, 1240);
        position: relative;
        z-index: 5;
        align-self: center;
        @media (min-width: $tablet) {
            @include adaptiveValue("padding-right", 80, 30);
        }
        @media (max-width: $tablet) {
            margin: 0px 0px 30px 0px;
        }
    }

    &__title {
        &:not(:last-child) {
            margin: 0px 0px 8px 0px;
        }
        text-align: left;
    }

    &__text {
        line-height: 150%;
        font-weight: 500;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 15);
        }
    }

    &__button {
        background: $orangeColor;
        color: #fff;
        min-width: 180px;
        @media (any-hover: hover) {
            &:hover {
                background-color: #fff;
                color: $orangeColor;
            }
        }
    }

    &__slider {
        flex: 1 1 auto;
        min-width: 0;
        align-self: flex-start;
        @media (max-width: $mobileSmall) {
            margin: 0px -15px;
        }
    }
}
.slider-rooms {
    position: relative;
    &__body {
        overflow: visible;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 100vw;
            left: 0;
            z-index: 2;
            background-color: #fcf8f3;
            transform: translate(-100%, 0px);
        }
    }

    &__slide {
        width: 372px;
        position: relative;
        overflow: hidden;
        @include adaptiveValue("min-height", 585, 400);
        &.swiper-slide-active {
            .slider-rooms__image {
                height: 100%;
            }
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__image {
        transition: height 0.8s ease 0s;
        height: 100%;
        @media (min-width: $mobile) {
            height: 83%;
        }
    }

    &__content {
        position: absolute;
        color: inherit;
        max-width: 240px;
        @include adaptiveValue("left", 24, 15);
        @include adaptiveValue("bottom", 24, 15);
        @include adaptiveValue("padding", 32, 15);
        background-color: rgba(255, 255, 255, 0.9);
        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(31px);
        }
        &::before {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(100%, 0px);
            width: 48px;
            height: 48px;
            background-color: $orangeColor;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
    }

    &__label {
    }

    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 28, 24);
    }

    &__arrows {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        width: calc(100% - 48px);
        left: 24px;
        z-index: 5;
        justify-content: space-between;
        @media (min-width: $pc) {
            width: calc(100% + 48px);
            left: -24px;
        }
    }

    &__dotts {
        @media (min-width: $mobile) {
            position: absolute;
            bottom: 30px;
            width: 100%;
            left: 396px;
        }
        @media (max-width: $mobile) {
            justify-content: center;
            padding: 15px 0px 0px 0px;
        }
    }
}

//========================================================================================================================================================

.tips {
    @include adaptiveValue("padding-top", 44, 30);
    @include adaptiveValue("padding-bottom", 44, 30);
    &__container {
    }

    &__title {
    }

    &__slider {
    }
}
.slider-tips {
    position: relative;
    &__body {
        @include adaptiveValue("margin-right", -32, -15);
        @include adaptiveValue("margin-left", -32, -15);
        @include adaptiveValue("padding", 32, 15);
    }

    &__slide {
        display: flex;
        flex-direction: column;
        transition: box-shadow 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
            }
        }
    }

    &__image {
        padding-bottom: percent(251, 391);
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 15px;
        flex: 1 1 auto;
        align-items: flex-start;
    }

    &__title {
        flex: 1 1 auto;
        color: inherit;
        font-weight: 600;
        line-height: 120%;
        @include adaptiveValue("font-size", 24, 18);
        transition: all 0.3s ease 0s;
        &:not(:last-child) {
            margin: 0px 0px 8px 0px;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    &__text {
        color: $grayColor;
        font-size: 14px;
        line-height: 150%;
    }

    &__dotts {
        @include adaptiveValue("padding-top", 8, 0);
        justify-content: center;
    }

    &__arrows {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        width: calc(100% - 48px);
        left: 24px;
        z-index: 5;
        justify-content: space-between;
        @media (min-width: $pc) {
            width: calc(100% + 48px);
            left: -24px;
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }
}
//========================================================================================================================================================

.furniture {
    @include adaptiveValue("padding-bottom", 85, 40);
    &__container {
    }

    &__label {
        text-align: center;
        color: $darkGrayColor;
        line-height: 150%;
        @include adaptiveValue("font-size", 20, 16);
        &:not(:last-child) {
            margin: 0px 0px 8px 0px;
        }
    }

    &__title {
        @include adaptiveValue("margin-bottom", 32, 15);
    }

    &__body {
        position: relative;
        @media (any-hover: none) {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        align-items: center;
        gap: 16px;
        @media (any-hover: hover) {
            justify-content: center;
        }
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0px -8px;
        &:first-child {
            justify-content: flex-end;
        }
    }

    &__row {
        display: inline-grid;
        padding: 0px 8px;
        gap: 16px;
        grid-template-columns: auto;
        grid-auto-flow: column;
        &:not(:last-child) {
            margin: 0px 0px 16px 0px;
        }
    }
}
.row-furniture {
    &_left-top {
        justify-content: end;
        align-items: end;
    }

    &_left-bottom {
        justify-content: end;
        align-items: start;
    }

    &_center {
        display: block;
    }

    &_right-top {
        align-items: end;
    }

    &_right-bottom {
        align-items: start;
    }

    &__item {
        @media (any-hover: hover) {
            img {
                transition: filter 0.3s ease 0s;
                filter: grayscale(1);
            }
            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}
